body {

    background-color: aqua;
}

/* Styling for the heading */
h1 {
    color: #FF6347; /* Tomato color */
    text-align: center;
    font-family: 'Georgia', serif;
    font-size: 36px;
    letter-spacing: 2px;
}

/* Styling for the paragraph */
p {
    font-size: 20px;
    text-align: justify;
    font-family: 'Tahoma', sans-serif;
    color: #2E8B57; /* Sea green color */
    margin: 0 15%;
    line-height: 1.6;
}

/* Styling for the button */
.styled-button {
    display: block;
    margin: 30px auto;
    padding: 15px 30px;
    background-color: #FF4500; /* Orange Red */
    color: #fff;
    border: 2px solid #2F4F4F;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;

}
.styled-button:hover {
    background-color: #FF6347; /* Tomato color on hover */
    transform: scale(1.1);
}
